#Test Coverage Reports
CoverageReport/

# .NET build artifacts
bin/
obj/
/obj/
/bin/
*.user
*.rsuser
*.suo
*.ncrunchsolution
*.ncrunchproject
*.vspscc
*.vssscc

API_Docs/

tourneyAPI/obj
Servies/obj
# Entity Framework migrations
Migrations/
*.efbundle

# Rider IDE files
.idea/

# Visual Studio Code settings
.vscode/

# NuGet dependencies
*.nupkg
packages/
project.lock.json
project.assets.json

# User-specific files
*.swp
*.swn
*.bak
Thumbs.db

#logs
logs/

#pre populated db files
*.db
*.db**
